body {
  background-color: #5b2386;
  font-family: "GMarketSans", sans-serif;
  text-align: center;
}

.page-wrapper {
  max-width: 1920px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 2rem 13rem;
  gap: 12rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title {
  position: absolute;
  width: 56.4rem;
  height: 11.2rem;
}

.hero-clock {
  width: 26.1rem;
  height: 26.5rem;
}

.hero-say {
  margin-top: 8rem;
}

.description {
  display: flex;
  text-align: center;
  margin-top: 4rem;
}

.description-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.description-quote-open {
  width: 3.3rem;
  flex-shrink: 0;
  align-self: flex-start;
}

.description-text {
  line-height: 1.7;
}

.description-quote-close {
  width: 3.3rem;
  flex-shrink: 0;
  align-self: flex-start;
}

.aim {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 6rem;
}

.aim-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: 1.2;
}

.aim-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aim-label input {
  width: 22.8rem;
  height: 5.7rem;
  border-radius: 0.7rem;
  border: none;
  padding: 0 1.6rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.aim-submit {
  position: relative;
  margin-bottom: 8rem;
}

.aim-output {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.btn-calculate {
  width: 56.5rem;
  height: 6.6rem;
  border-radius: 5.6rem;
  border: none;
  background-color: #fcee21;
  padding: 2.1rem 4.9rem;
  gap: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-top: 4rem;
}

.btn-primary {
  width: 35.6rem;
  height: 6.6rem;
  border-radius: 5.6rem;
  border: none;
  background-color: #fcee21;
  white-space: nowrap;
  padding: 2.1rem 4.9rem;
  gap: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-right: 1.8rem;
}

.btn-secondary {
  width: 19.1rem;
  height: 6.6rem;
  border-radius: 5.6rem;
  border: none;
  padding: 2.1rem 4.9rem;
  gap: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.aim-submit img {
  width: 6.88rem;
  height: 7.68rem;
  position: absolute;
  top: 5.12rem;
  left: 57.6rem;
}

.action {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  margin-top: 13rm;
  margin-bottom: 7rem;
}

.footer-logo {
  justify-content: center;
}

.cheer-page {
  width: 80rem;
  height: 80rem;
  border-radius: 3rem;
  background-color: #ffffff;
  border: none;
  padding: 0;
}

.cheer-page[open] {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cheer-page.active {
  display: flex;
}

.cheer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}

.cheer-img {
  width: 43.3rem;
  height: 33.7rem;
  top: 35.5rem;
  left: 18.4rem;
  margin-bottom: 5rem;
}

.cheer-btn {
  height: 6.6rem;
  border-radius: 5.6rem;
  border: none;
  background-color: #fcee21;
  padding: 2.1rem 4.9rem;
  gap: 1rem;
  white-space: nowrap;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
