.hero-say {
  font-family: "Escoredream", sans-serif;
  font-weight: normal;
  font-size: 3.6rem;
  color: #f5df4d;
}

.description-text {
  font-family: "GMarketSans", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  margin-top: -3rem;
  color: #ffffff;
}

.description-text span {
  font-family: "GMarketSans", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  color: #ffffff;
}

.aim-input {
  font-family: "GMarketSans", sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  color: #ffffff;
}

.aim-label input {
  font-family: "GMarketSans", sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  color: #babcbe;
  text-align: center;
}

.btn {
  font-weight: 700;
  font-size: 2.4rem;
  color: #5b2386;
}

.btn-calculate {
  font-family: "GMarketSans", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  color: #5b2386;
  text-align: center;
  line-height: 2.4rem;
}

.btn-primary {
  font-family: "GMarketSans", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  color: #5b2386;
  text-align: center;
  line-height: 2.4rem;
}

.btn-secondary {
  font-family: "GMarketSans", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  color: #5b2386;
  text-align: center;
  line-height: 2.4rem;
}

.aim-output {
  font-weight: 400;
  font-size: 2.4rem;
  text-align: center;
  color: #ffffff;
}

.aim-result-goal,
.aim-result-days {
  font-weight: 700;
  font-size: 7.2rem;
  color: #ffffff;
}

.copyright {
  font-family: "NotoSansKR", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #ffffff;
}

.cheer-title {
  font-family: "JoyfulStory", sans-serif;
  font-weight: 700;
  font-size: 9.6rem;
  color: #5b2386;
  margin: 0;
}

.cheer-subtitle {
  font-family: "JoyfulStory", sans-serif;
  font-weight: 400;
  font-size: 3.6rem;
  color: #5b2386;
  margin: 0;
  margin-top: -2.5rem;
}

.cheer-btn {
  font-family: "GMarketSans", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5b2386;
}
